@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  font-family: "Space Mono", monospace;
}
.container {
  padding: 31px 24px 79px;
  background-color: #141d2f;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}
.theme-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.theme-container h3 {
  color: white;
}
.input-container {
  background-color: #1e2a47;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 6.5px 7px 7.5px 16px;
  margin-bottom: 16px;
}
.input-container input {
  outline: none;
  border: none;
  background-color: transparent;
}
.input-container ::placeholder {
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 25px;
}
.input-container button {
  padding: 12.5px 16px;
  border-radius: 10px;
  background: #0079ff;
  border: none;
  color: white;
  font-size: 14px;
  font-weight: 700;
  line-height: 20.73px;
}
.user-data-container {
  background-color: #1e2a47;
  padding: 32px 24px 48px;
  border-radius: 15px;
}
.user {
  color: white;
}
.user-profile {
  display: flex;
  gap: 20px;
  height: 70px;
  margin-bottom: 33px;
}
.user-date {
  height: 69px;
}
.user-date h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 23.7px;
}
.user-date h3 {
font-size: 13px;
font-weight: 400;
line-height: 19.25px;
color: #0079FF;
margin-bottom: 6px;
}
.user-date p {
font-size: 13px;
font-weight: 400;
line-height: 19.25px;
}
.user-text {
font-size: 13px;
font-weight: 400;
line-height: 25px;
margin-bottom: 23px;
}
.user-fallow-container {
  display: flex;
  background-color: #141D2F;
  padding: 18px 15px;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 24px;
}
.user-item p{
  font-size: 11px;
  font-weight: 400;
  line-height: 16.29px;
}
.user-item h3 {
font-size: 16px;
font-weight: 700;
line-height: 23.7px;
}
.user-fallow-container h3 {
text-align: center;
}
.user-info-container {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap:16px ;
}
.item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.item span {
font-size: 13px;
font-weight: 400;
line-height: 19.25px;
}
